#Header{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
#iconHome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}
#user{
display: flex;
align-items: center;
justify-content: center;
gap: 2px;
}
.buttonup{
display: block;
background-color: black;
color: white;
border: none;

}

.ulSigninAndSignout{
margin: 0px;
padding: 0px;
list-style-type: none;
position: absolute;
z-index: 1;
background-color:black;
right: 0px;
top:15px;
width: 150px;
border:2px solid #B3B9BF ;
border-radius: 10px 10px 10px 10px;


}

.navSigninAndSignout{
position: relative;
}
.ulSigninAndSignout li:last-child{
border-bottom: none;

}

.liSigninAndSignout{
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #B3B9BF;
}
